	* {
		box-sizing: border-box;
	}
	body {
		Background-image: url(https://ak8.picdn.net/shutterstock/videos/23164888/thumb/1.jpg);
		font-family:Verdana;
		color:black;
	}
    div {
        text-align: center;
    }
    h1{
        color: white;
        font-size: 150%;
        text-align:center;
        margin:5%;
    }
	h2{
        color: white;
        font-size: 150%;
        text-align:center;
        margin:5%;
    }
	h3{
        color: white;
        font-size: 150%;
        text-align:center;
        margin:5%;
    }
    table {
        font-family: arial;
        border-collapse: collapse;
        width: 80%;
        align=center;
        height: auto;
        margin: 9%;
        background-color:white;
    }
    td, th {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
        }
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    table tr:hover{
 	     background: aqua;
    }
    table td:hover{
        background: black;
        color:white;
    }
    a:link {
        color: black;
        background-color: transparent;
        text-decoration: none;
    }
    a:visited {
        color: white;
        background-color: transparent;
        text-decoration: none;
    }
    a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
    }
    a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
    }